@page "/Categories/{CategoryName}"

@if (category != null)
{
    <h3>@category.Name</h3>
}


@if (visualBlocks != null)
{
    <RadzenDataList WrapItems="true" Data="visualBlocks">
        <Template>
            <GenericBlockComponent Block="context" />
        </Template>
    </RadzenDataList>
}
else
{

}
