@page "/Rooms/{RoomName}"

@if(room != null)
{
    <h3>@room.Name</h3>
}
else
{
    <h3>Page '@RoomName' does not exist</h3>
}


@if (visualBlocks != null)
{
    <RadzenDataList WrapItems="true" Data="visualBlocks">
        <Template>
            <GenericBlockComponent Block="context" />
        </Template>
    </RadzenDataList>
}
else
{

}
