@using System.Globalization;
@typeparam T
@inherits VisualBlockComponent<Value<T>>


<div style="float:left; height:100%; display:flex">
    <div style="margin: auto">
        <b>@Block.Name</b>
    </div>
</div>
<div style="float:right; display: flex">
    <div>
        @if (Block.Val is bool bv)
        {
            if (bv)
            {
                <RadzenIcon Icon="check" Style="color:green"/>
            }
            else
            {
                <RadzenIcon Icon="close" Style="color:red" />
            }
        }
        else if (Block.Val is double dv)
        {
            @dv.ToString("0.00")
        }
        else
        {
            @Block.Val
        }
    </div>
</div>