@typeparam T
@inherits VisualBlockComponent<Value<T>>


<div style="float:left; height:100%; display:flex">
    <div style="margin: auto">
        <b>@Block.Name</b>
    </div>
</div>
<div style="float:right; display: flex">
    <div>
        @Block.Val
    </div>
</div>