@using DotHome.Core.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; })">
                </RadzenSidebarToggle>
                <RadzenLabel Text="DotHome">
                </RadzenLabel>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <RadzenLink Icon="logout" Path="logout" Text="Logout" Style="margin-right:20px" />
            </div>
        </div>
    </ChildContent>
</RadzenHeader>
<div style="width:100%">
    <RadzenBody Expanded="@(!sidebarExpanded)">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>
<RadzenSidebar @bind-Expanded="sidebarExpanded">
    <ChildContent>
        <AuthorizeView>
            <Authorized>
                <Navbar />
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
    </ChildContent>
</RadzenSidebar>


<style>
    .rz-sidebar {
        bottom: 0 !important;
    }
</style>

@code {
    private bool sidebarExpanded;

    private void OnLogout()
    {
        NavigationManager.NavigateTo("/logout");
    }
}